body,html {
    height: 100%;
    margin: 0;
    padding: 0;
       
    .page-container {
      display: grid;
      grid-template-rows: 10% 80% 10%; /* Set the row sizes */
      height: 100%;

      header {

        .header {
          background-color: #f1f1f1;
          padding: 10px;
        }
  
        .header-rule {
          border: none;
          border-top: 1px solid #ccc;
          margin-top: 10px;
        }
        .btn {
            padding: 8px 16px;
            margin-right: 10px;
            background-color: #e6e6e6;
            border: none;
            border-radius: 4px;
            font-weight: bold;
            cursor: pointer;
          }
          nav {
              display: flex;
              align-items: center;
              justify-content: space-between;
  
              .navbar-left {
                  display: flex;
              }
              .navbar-center {
                .logo {
                    max-width: 150px;
                  }
              }
              .navbar-right {
                  display: flex;
              }
          }
          
          .modal {

            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.6);

            .explore-modal,
            .project-modal {
              position: fixed;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }

            .exploreModal {
              display: none;
              position: fixed;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              z-index: 9999;
              /* Additional styling */
              width: 400px;
              height: 200px;
              background-color: #fff;
              border: 1px solid #000;
              padding: 20px;
            }
            
            .projectModal {
              display: none;
              position: fixed;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              z-index: 9999;
              /* Additional styling */
              width: 400px;
              height: 300px;
              background-color: #fff;
              border: 1px solid #000;
              padding: 20px;
            }

            .modal-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 16px;
                background-color: #f7f7f7;
              }
              
              .modal-title {
                font-weight: bold;
                font-size: 20px;
              }
              
              .modal-close {
                border: none;
                background-color: transparent;
                font-size: 24px;
                cursor: pointer;
              }
              
              .modal-body {
                padding: 16px;
                background-color: #fff;
              }
              
              input,
              textarea {
                width: 99%;
                padding: 8px;
                margin-bottom: 10px;
              }
              
              .btn {
                padding: 8px 16px;
                margin-right: 10px;
                background-color: #e6e6e6;
                border: none;
                border-radius: 4px;
                font-weight: bold;
              }
            
          }
        }
        
        .project-container {
          display: flex;
          justify-content: center;
          align-items: center;
          border: none;
          width: 70%;
          margin: 0 auto;
          box-sizing: border-box;
        }
        
        .project-content {
          display: grid;
          grid-template-columns: 1fr 1fr;
          align-items: center;
          justify-content: center;
          border: 2px solid #000;
        }
        
        .project-details {
          grid-column: 1;
          grid-row: 1;
          padding: 20px;
        }
        
        .project-image {
          grid-column: 2;
          grid-row: 1;
          text-align: center;
          padding: 10px;
        }

        .project-image img {
          max-width: 100%;
          max-height: 100%;
          width: auto;
          height: auto;
        }
        .footer-display {
          display: block;
          width: 100%;
          background-color: #f0f0f0;
          color: #555;
          font-size: 14px;
          padding-top: 30px;
          text-align: center;
        }
        
        .footer {
          display: none;
          width: 100%;
          background-color: #f0f0f0;
          color: #555;
          font-size: 14px;
          padding-top: 30px;
          text-align: center;
        }
        
        .footer-placeholder {
          display: inline-block;
          margin: 0 10px;
        }
        
        .footer-placeholder i {
          margin-right: 5px;
        }
    }  
}